.burger_button{
    background-color: rgb(0,0,0,0);
    border: none;
}
button{
    cursor: pointer;
}
.main_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.restaurant_logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    background-color: white;
    top: calc(280px - 110px / 2);
    border: 1px solid gray;
}
.second_img_container{
    height: 100px;
    width: 100%;
    padding: 8px;
}
.third_img_container{
    height: 100px;
    width: 100%;
    padding: 8px;
}
.dish_button{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: solid rgb(241, 241, 241);
    border-radius: 2px;
}