main{
    display: flex;
    flex:1;
    margin: 0 auto;
    width: 100%;
    max-width: 1050px;
}
.main_wrapper{
    width: calc(100% - 300px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #FF8000;
    height: 80px;
}
.container_header{
    margin: 0 auto;
    max-width: 1050px;
    padding: 8px;
    background-color: #FF8000;
    display: flex;
    justify-content: space-between;
}
footer{
    height: 80px;
    background-color: #1F1F1F;
}
.container_footer{
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0px 0px;
    background-color: #1F1F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.logo_img{
    height: 64px;
}
.main_img_container{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid lightgray;
}
.name_container{
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rating{
    color: #FF8000;
    margin: 8px;
}
.container_dish_group{
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: rgb(241, 241, 241);
}
.arrow_sign{
    margin-right: -40px;
    margin-left: -10px; 
}
.dish_headline{
    height: 24px;
    margin: 8px;
}
.single_dish{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border: 2px solid rgb(241, 241, 241);
    cursor: pointer;
}
.single_dish:hover{
    background-color: rgb(255,128,0,0.2);
}
.dish_attributes{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap:8px
}
.all_dishes{
    width: 100%;
    height: auto;
}
.dish_price{
    color:#FF8000;
    font-weight:bold;
}
.light_orange_bg{
    background-color: rgb(255,128,0,0.2);
}
.confirmation_container{
    min-height: 200px;
    display: flex;
    align-items: center;
}
.open_basket_button{
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 24px;
}
.open_basket_button:hover{
    background-color: rgb(242, 124, 27);
}
dialog{
   position: absolute;
    width: 600px;
    height: 900px;
    padding: 0px;
    border-radius: 30px;
}
dialog::backdrop{
    background-color: rgba(0,0,0,0.375);
}

@media(max-width: 1050px){
    .name_container{
        padding-top: 75px;
    }
}
@media(min-width: 601px){
    .open_basket_button{
        display: none;
    }
}
@media(max-width: 600px){
    .basket_wrapper{
        display: none;
    }
    main{
        flex-direction: column;
    }
    .main_wrapper{
        width:100%;
    }
}