main{
    display: flex;
    flex:1;
    margin: 0 auto;
    width: 100%;
    max-width: 1050px;
    background-image: linear-gradient(360deg, black, rgb(4 42 59));
}
.main_wrapper{
    width: calc(100% - 300px);
    padding: 16px;
    flex-grow: 1;
    border: 5px solid;
}
header{
    background-color: #151B23;
    height: 80px;
}
.container_header{
    margin: 0 auto;
    max-width: 1440px;
    padding: 8px 0px;
}
.container_footer{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 0px;
}