*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: inter;
}
h1{
    margin: 8px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    }

@font-face {
    font-family: inter;
    src: url("/assets/fonts/Inter_24pt-ExtraLight.ttf");
    font-display: fallback;
}