*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: inter;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(360deg, black, rgb(4 42 59));
}

@font-face {
    font-family: inter;
    src: url("/assets/fonts/Inter_24pt-ExtraLight.ttf");
    font-display: fallback;
}